@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.endbar,
header {
    display: flex;
    justify-content: space-between;
}

header {
    margin: 2px 100px;
    padding: 15px;
}

.logo {
    width: 150px;
}

.endbar {
    color: white;
    gap: 20px;
}

.language {
    border: 2px solid rgb(67, 65, 65);
    border-radius: 5px;
    width: 130px;
    height: 28px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

.language_logo {
    width: 25px;
    margin: 0px 5px;
}

.signin {
    background-color: red;
    border: 2px solid black;
    width: 95px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.main {
    color: white;
    text-align: center;
    margin: 155px;
}

.title150 {
    color: white;
    text-align: center;
    font-size: 48px;
    width: 130%;
    margin: 0px 9%;
    font-family: Kanit;
    text-align: left;
    margin: 0
}

.title150-2 {
    color: white;
    text-align: center;
    font-size: 48px;
    width: 82%;
    margin: 0px 9%;
    font-family: Josefin Sans;

}

.subtitle {
    margin: 20px 0px;
    font-size: 25px;
    color: white;
}

.membox {
    display: flex;
    justify-content: center;
}

.membership {
    margin: 20px 0px;
    font-size: 23px;
    color: white;
    text-align: center;

}

.emailbox {
    width: 425px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid gray;
    font-family: monospace;
}


.Started {
    background-color: red;
    width: 195px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid black;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;

}

.get {
    font-size: 25px;
    margin: auto 0px;
    font-weight: 500;
    margin-left: 15px;
}

.sym {
    margin: auto 0px;
}

.seconds {
    width: 75%;
    padding: 150px;
    display: flex;
    height: 330px;
    margin: auto 0px;
}

.line {
    width: 99vw;
    height: 8px;
    background-color: rgb(46, 45, 44);
}

.TV {
    position: relative;
    top: -40px;
}

.download {
    width: 340px;
    height: 110px;
    border: 2px solid grey;
    position: relative;
    left: 148px;
    top: -148px;
    border-radius: 10px;
    background-color: black;
}

.littleposter {
    height: 90px;
    position: relative;
    top: 10px;
    left: 10px;
}

#downloadinfo {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    bottom: 38px;
    left: 15px;
}

.download_btn {
    color: white;
    position: relative;
    top: -16px;
    left: 85px;
    font-size: 36px;
}

.TV2 {
    position: relative;
    width: 600px;
    left: 45px;
    bottom: 34px;
}

#Nlogo {
    position: relative;
    bottom: 275px;
    left: 135px;
    width: 240px;
}

#Nlogo2 {
    position: relative;
    bottom: 390px;
    left: 190px;
    width: 240px;
}

.children-photo {
    width: 504px;
}

#qboxes {
    display: grid;
    width: 70%;
    height: 75px;
    background-color: #2c2c2c;
    margin: 8px auto;
    color: white;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

#qboxes:hover {
    background-color: #515151;
}

#faq {
    margin-left: 25px;
}

#margin {
    margin: 40px auto;
}

footer {
    color: rgba(255, 255, 255, 0.7);
    padding: 80px 125px;
}

/* #others {
            display: grid;
            grid-template-columns: auto auto auto auto;
            row-gap: 30px;
        } */

li {
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
}

#li-container {
    margin: 25px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
}